@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

.main {
  position: relative;
}

/*body {
  margin: 0 auto;
  height:100%;
  width: 100%;
}*/

.box {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 220;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #d3d3d3;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.circle {}

.links {
  font-size: 8px;
}

.about-box {
  background-image: url(me.jpg);
  background-size: cover;
  background-color: #ddd;
  background-blend-mode: overlay;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  position: absolute;
}

.intro {
  margin: 0 auto;
  margin-top: 50px;
  height: 100vh;
}

.work-sec {
  margin-top: 50px;
  height: 100vh;
}

.see-more {
  text-align: center;
  color: #457371;
  position: absolute;
  transform: rotate(90deg);
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  font-weight: 700;
  opacity: 0.5;
}

.side-text {
  padding: 10px;
  margin-left: -180px;
  margin-top: 20px;
}

.intro-text {
  z-index: 10;
  /*position: absolute;*/
  margin-top: 100px;
  margin-left: 100px;
  left: 0;
}

.text {
  margin-top: 100px;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  width: 100%;
  /*color: white;*/
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  width: 100%;
  color: white;
  font-size: 30px;
}

.about {
  height: 100vh;
  background-color: #dfebec;
  padding: 50px;
}

.skills {
  background-color: #d3d3d3;
}

.skill-text {
  font-family: 'Open Sans 700', sans-serif;
  font-size: 50px;
}

.libby {
  font-size: 60px;
  color: #D8D8D8;
  line-height: 40px;
  mix-blend-mode: screen;
}

.libby-two {
  font-size: 60px;
  color: #dfebec;
  line-height: 40px;
  /*mix-blend-mode: overlay;*/
}

/*svg styles*/
.svg {
  fill:#569e26;
  height: 50px;
  width: 50px;
}

.animate {
  transition: 2s ease-in-out;
  -moz-transition: 2s ease-in-out;
  -webkit-transition: 2s ease-in-out;
}

.one.animate {
  transform: translate(5em, 0);
  -moz-transform: translate(5em, 0);
  -webkit-transform: translate(5em, 0);
}

.two.animate {
  transform: translate(-5em, 0);
  -moz-transform: translate(-5em, 0);
  -webkit-transform: translate(-5em, 0);
}

.descript {
  background-color: #eee;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  font-size: 30px;
  color: white;
  line-height: 40px;
  width: 60%;
  opacity: 0.8;
}

span {
  opacity: 1 !important;
}

.work-box {
  /*background-color: black;*/
  /*width: 50%;*/
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

span {
  padding-left: 10px;
}

.work {
  width: 100%;
  height: 100%;
  display: flex;
}

.gun {
  background-color: #d3d3d3;
  width: 110%;
  height: 400px;
  background-image: url(images/gun.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  transform: scale(1.17);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /*position: ;*/
  z-index: 1;
  transition: all .2s ease-in-out;
  overflow: hidden;
}

.drawing {
  background-color: #ddd;
  width: 100%;
  height: 400px;
  background-image: url(http://67.media.tumblr.com/tumblr_mdie6oShMn1qdjmjco1_1280.jpg);
  background-blend-mode: overlay;
  transform: scale(1.12);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  z-index: 1;
  transition: all .2s ease-in-out;
}

#content {
	position: relative;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;


}

.game {
  background-color: #ddd;
  width: 100%;
  height: 400px;
  background-image: url(http://67.media.tumblr.com/tumblr_mdie6oShMn1qdjmjco1_1280.jpg);
  background-blend-mode: overlay;
  transform: scale(1.07);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.blog {
  background-color: #d3d3d3;
  width: 100%;
  height: 100%;
  background-image: url(images/connective.jpg);
  background-blend-mode: overlay;
  transform: scale(1.07);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  z-index: 1;
  transition: all .2s ease-in-out;
}

.text-clause {
  position: absolute;
  z-index: 10;
  padding: 30px;
}

.project-3:hover .gun{
  transform: scale(1);
  opacity: 0.8;
  animation-play-state: paused;
}

.project-0:hover .blog {
  transform: scale(1);
  opacity: 0.8;
  animation-play-state: paused;
}

.project-1:hover .drawing{
  transform: scale(1);
  opacity: 0.8;
  animation-play-state: paused;
}

.project-2:hover .game {
  transform: scale(1);
  opacity: 0.8;
  animation-play-state: paused;
}

.links {
  margin-top: 25vh;
}

nav {
  background-color: #fff !important;
}

.sidenav {
  width: 90px;
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  line-height: 1.3;
  color: #ddd;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
  /*padding: 40px;*/
  text-decoration: none;
  font-size: 20px;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  padding: 20px;
  color: pink;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.subtitle {
	line-height: 1.3;
  color: #BF6658;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.subtitle-small {
	line-height: 0.8;
  color: #BF6658;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.title {
	line-height: 1.3;
  color: #BF6658;
  font-weight: 700;
  font-size: 23px;
  font-family: 'Open Sans 700', sans-serif;
  letter-spacing: 2px;
  font-variant-caps: all-small-caps;
}

.bodytext {
  margin: 40px 40px 15px 0px;
	line-height: 1.3;
  font-size: 12px;
  letter-spacing: 0px;
  color: grey;
}

#aboutmain {
  margin-top: -300px;
  text-align: right;
  margin-left: 410px;
  position: absolute;
  color: black;
  font-size: 48px;
}

.imgleft {
  float: left;
	margin-top: 0px;
  width: 500px;
  padding-right: 20px;
  padding-left: 30px;
}

.footer {
  /*display: flex;
  justify-content: space-around;*/
  padding: 200px;
}

.navbar {
  border-right: .2px solid #eee;
}

.skills {
  height: 100vh;
  padding: 50px;
}

a i {
  color: #bbd3d6;
}

i {
  color: #bbd3d6;

}

a i:hover {
    color: #BF6658;
}

.nav-links {
  padding-top: 30px;
  padding-bottom: 30px;
}
